body{
    background: url("CompSci_Resources_Kids-Coding-Guide_FTR_3696c7ac0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.image-container {
    display: flex;
    justify-content: center;            
}
h1 {font-family: 'ADLaM Display', sans-serif;
    text-align: center;
    color: yellowgreen;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: myAnim 3s ease 0s 1 normal forwards; }
a{
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin: 20px;
  background-color: yellowgreen;
  padding: 16px;
  border-radius: 15px;
  animation: myAnim 3s ease 0s 1 normal forwards;
}

.linkovi {
    display: flex;
    justify-content: space-between;
}
.pozadina-proslost{
    background: url("code-dark-background-python-programming-developer-programmer-working-software-develop-company-office-computer-script-242773376.webp");
    background-repeat: no-repeat;
    background-size: cover;

}
.buducnostsk{
    background: url(istockphoto-1411798446-612x612.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.proslost-blok {
    width: 700px;
    height: 300px;
    background-color:lightblue;
    margin: 0 auto;
    border: 5px solid blue;
    border-radius: 15px;
}
.buducnost-blok {
    width: 700px;
    height: 300px;
    background-color:lightblue;
    margin: 0 auto;
    border: 5px solid blue;
    border-radius: 15px;
}

.tekst-lista{
    font-size: 40px;
}
.pozadina-sad{
    background: url("e78dI.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sadasnjost{
    color: #000;
}
.sad-blok{
    width: 700px;
    height: 300px;
    background-color:lightblue;
    margin: 0 auto;
    border: 5px solid blue;
    border-radius: 15px;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateY(0) rotate(0);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateY(-30px) rotate(6deg);
	}

	30% {
		transform: translateY(15px) rotate(-6deg);
	}

	45% {
		transform: translateY(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateY(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateY(-6px) rotate(1.2deg);
	}
}
@keyframes myAn {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}